/* Basic CSS Selector Examples */
/* h1 {
    color: yellowgreen;
    font-size: 45px;
}

p {
    color: white;
    background-color: hotpink;
    font-size: 20px;
}

div p {
    color: red;
    background-color: black;
    font-size: 40px;
} */

/* CSS classes and IDs example */
/* # for the id's */
#main{
    color: pink;
    font-size: 25px;
}

/* . for classes */
.content{
    color: black;
    background-color: pink;
    font-size: 20px;
}

/* CSS Box model Example */
h1{
    width: 250px;
    height: 50px;
    padding: 10px 10px 10px 10px;
    border:  5px solid green;
    margin: 20px 10px 60px 40px;
}